/.idea
/.vscode
/1depth_img.png
/1disparity_color.png
/1Test_disparity.png
/20250630_004848
/20250630_220756
/250305Scenceflow
/250312hc
/250312SC
/250315sc_en
/250316SC
/250317kitti_sf
/250317SC
/250320kiwi_1_mask
/250320kiwi_1_mask.7z
/250320kiwi_2_mask
/250324KIWI
/250324KS
/alg
/ALG_800_AL.mat
/best_3px.tar
/cal_fx
/captures
/checkpoints
/depth2point_nocolor
/depth_img.png
/depth_map.png
/disp.png
/disp1_color.png
/disp2_color.png
/disparity_color.png
/disp_viz.png
/downsampled_color_pointcloud.ply
/evaluation_results_Kiwi2012_gen_BEST.csv
/final_disp.png
/final_disp_color.png
/fintu.tar
/nan_dis.png
/SCENEFLOW_TEST